* {
  border: 1px solid black;  
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr;    
  align-items: flex-start;
  height: 100%;

}
.grid-navbar{
  display: grid;
  grid-template-columns: 2fr 8fr 1fr;    
  height: 10%;  
}

.grid-combobox{
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  align-items: center;  
  background-color: grey;
  color: white;
}

