* {
  margin: 0%;
  border: 0%;  
}
body{
    height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-areas:
    "navbar navbar"
    "main main"
    "footer footer";
}
navbar {
  grid-area: navbar;
  align-items: center;
  align-self: center;
  background-color: lightblue;
  height: 2vh;
}
.main{
    grid-area: main;  
    padding: 5%; 
    height: 90vh;
    
}

footer{
    grid-area: footer;
    height: 8vh;
}

.navbar-format{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3%;
    background-color: #222425;
    color: white;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    
}
.img-format{
    border: lightslategray 1px solid;
    width: auto;
}
.footer-style{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #222425;
    color: white;
    padding-top: 2%;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #222425;
}


/*Estilos especificos*/
.img-format{
    border: lightslategray 1px solid;
    width: auto;
    border-radius: 50%;
}
.criteria-style{
    background-color: rgb(92, 116, 116);
    padding: 3%;
    color: #cbd631;
}
/**/